body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:ghostwhite;
}

.content {
    width: 100%;
}

button:hover {
  opacity: 0.8;
}

input[type=text], input[type=password] {
  background-color:#ccc;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.container {
  padding: 16px;
}

button {
  background-color:#e3e1ee;
  color:black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}


